@import url('https://fonts.googleapis.com/css?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

.satisfy{
    font-family: 'Satisfy', cursive;
}

.roboto{
    font-family: 'Roboto', sans-serif;
}

.anton{
    font-family: 'Anton', sans-serif;
}

.relative {
    position: relative !important;
} 
  
.absolute {
    position: absolute !important;
}

nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
    height: 100px !important;
    line-height: 100px !important;
}

.logo-img{
    width: 200px;
    margin-top: 25px;
}

.container90{
    margin:0 auto;
    max-width:1280px;
    width:90%
}

.container50{
    margin:0 auto;
    max-width:1280px;
    width:80%
}
.simpsa{
    background-image: url(../images/haircut.png);
    background-size: cover;
    height: 300px;
    transition: 0.5s;
}

@media only screen and (min-width: 601px){
    .container90{
        width:85%
    }
    .container50{
        width:60%
    }
}


@media only screen and (min-width: 993px){
    .container90{
        width:90%
    }
    .container50{
        width:60%
    }
    .logo-img{
        width: 300px;
        margin-top: 15px;
    }
    .portafolio-hover:hover .content-portafolio{
        display: none;
        transition: 0.5s;
    }
    .portafolio-hover:hover .circle-portafolio{
        display: block;
    }
    
    .simpsa{
        background-image: url(../images/haircut.png);
        background-size: cover;
        height: 480px;
        transition: 0.5s;
    }
    .simpsa:hover{
        background-image: url(../images/haircut.jpg);
        background-size: cover;
    }
    
    .circle-portafolio{
        background-color: #88c23d;
        border-radius: 50%;
        height: 80px;
        width: 80px;
        margin: auto;
        margin-top: 200px;
        display: none;
        transition: 0.5s;
    }
}
.margin-t0{
    margin-top: 0;
}

.margin-b0{
    margin-bottom: 0;
}

.gris{
    background-color: #929396;
}

.gris-text{
    color: #929396;
}

.verde{
    background-color: #88c23d;
}

.verde-text{
    color: #88c23d;
}

.spacing50{
    height: 50px;
}

.spacing100{
    height: 100px;
}

.frase{
    background-image: url(../images/beauty-salon-img7.jpg);
}